@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    color: #f7f5f3;
}
.container {
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 5px 5px 15px #e6e6e6;
}
.header p  {
    font-family: 'Special Elite', cursive;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
}
.main {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.day {
    display: flex;
    width: 12%;
    flex-direction: column;
}
.list1, .list2, .list3, .list4, .list5 {
    height: 100px;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #e6e6e6;   
    width: 100%;
}
.dayname {
    height: 60px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    min-width: min-content;
}
#Monday {
background: #6D9886;
}
#Tuesday {
background: #728E92;
}
#Wednesday {
background: #77849D;
}
#Thursday {
background: #7C7BA8;
}
#Friday {
background: #9D7E96;
}
#Saturday {
background: #B88087;
}
#Sunday {
background: #E2846F;
}